.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
    background-color: #33761E !important;
    background-image: linear-gradient(#33761E, #4AA42E)!important;
}

.btn-info:not(.proMonster):not(.createdByUser),
.btn-info:not(.proMonster):not(.createdByUser):hover,
.btn-info:not(.proMonster):not(.createdByUser):active,
.btn-info:not(.proMonster):not(.createdByUser):visited,
.btn-primary:not(.proMonster):not(.createdByUser),
.btn-primary:not(.proMonster):not(.createdByUser):hover,
.btn-primary:not(.proMonster):not(.createdByUser):active,
.btn-primary:not(.proMonster):not(.createdByUser):visited {
    background-color: #79ace1 !important;
    background-image: linear-gradient(#79ace1, #CDCFFE)!important;
    color: #000!important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited {
    background-color: #d14539 !important;
    background-image: linear-gradient(#d14539, #cf7971)!important;
}

.card-header {
    /* background-color: none !important; */
    /* background-image: linear-gradient(rgb(73, 164, 46), rgba(73, 164, 46, 0.11))!important; */
    /* background-color: rgb(202, 202, 202)!important; */
    background-color: #35383C !important;
    background-image: linear-gradient(#35383C, rgb(72, 76, 82))!important;
    color: white!important;
    border-bottom: 1px solid rgb(56, 56, 56)!important;
}

.card {
    border: 1px solid rgb(56, 56, 56)!important;
}

.card .card {
    box-shadow: -4px 4px #cacaca!important;
    background-color: rgb(241, 241, 241);
}

.card .card.border-0 {
    box-shadow: none!important;
}